.parent{
    display: grid;
    grid-template:  auto 1fr auto/auto 1fr auto;
    height: 100%;
}
header{
    padding: 2rem;
    grid-columns:1/4;
}
.left-side{
   grid-template-columns: 1/2;
}
main{
    grid-template-columns: 2/3;
}
.right-side{
    grid-template-columns: 3/4;
}
footer{
    grid-template-columns: 1/4;
    font-size: 1.5rem;
    background-color: aqua;
}