.tab-list{
          margin: 0;
          padding: 0;
}
.tab-list li{
          display: inline-block;
          list-style-type: none;
          background-color: #303030;
          border-bottom: 3px solid #858585;
          font-family: 'Jacques Francois',serif;
          text-transform: uppercase;
          letter-spacing: 0.2em;

}
.tab-list li a{
          color: aliceblue;
          display: block;
          padding: 3px 10px 3px 10px;

}
.tab-list li.active a,.tab-list li a:hover{
          background-color: aliceblue;
          border-bottom: 3px solid #e5e5e5;
}
.tab-list li.active a,.tab-list li a:hover{
          background-color: aliceblue;
          color: #666;
}
.tab-panel{
          display: none;
          background-color: aliceblue;
          color: #666;min-height: 150px;
          overflow: auto;

}
.tab-panel.active{display: block;}
.tab-panel p{
          margin: 20px;
}
