*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
body{
          background: #f6f5f7;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          font-family: 'Montserrat', sans-serif;
          height: 100vh;
          margin: -20px 0 50px;
}
body div{
          display: block;        
}
.container{
          position: relative;
          overflow: hidden;
          width: 768px;
          max-width: 100%;
          min-height: 480px;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
form{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          padding: 0 0 70% 0;
          flex-wrap: nowrap;
}
.tittle{
          font-size: 25px;
          text-align: center;
          position: relative;
          height: 15%;
          margin: 10px 0 0 0;
}
form div input{
          width: 60%;
          height: 100%;
          border-radius: 2px;
          outline: none;
          border: 1px solid #c4c4c4;
          box-shadow: 2px 1px 4px rgba(0,0, 0, 0.1);
          font-size: 14pt;
          padding-left: 25px;
          padding-right: 25px;
          margin-left: 55px;
          margin-top: 1px;
          margin-bottom: 1px;
}
form div label{
          width:10%;
          height: 100%;
          float: left;
          margin-left: 23px;
          margin-top: 1px;
          margin-bottom: 1px;
}
form div{
          position: relative;
}
input:focus{
          border: 1px solid#f279;
}
form div i{
          left: 120px;
          margin-top: 4px;
          margin-bottom: 1px;
          position: absolute;
          
}
form div .success-icon{
          position: absolute;
          padding: 0px;
          left: 85%;
          color: green;
}
form div .fail-icon{
          position: absolute;
          padding: 0px;
          left: 85%;
          color: red;       }        

.left{
          left: 0;
          width: 50%;
          background-image: url('/demo/_gZ.svg');
          background-color: #1f8245;
          margin: 0px;
          float: left;
          height: 100%;
          border: none;
          background-size: 100% 500px;
          
}        
.right{
          float: right;
          position: absolute;
          left: 50%;
          width: 50%;
          height: 100%;
          overflow: hidden;
          margin-bottom: 20px;
} 
div img{
          position: absolute;
          padding: 0 0 10px 10px;
          top: 10px;
          left: 2px;
          width: 150px;
          height: 50px;
}
.social{
          position: relative;
          top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
}         
.social .ic1{
          width: 140px;
          height: 60px;
          margin: 0px;
          position: absolute;
          left: 10%;
          background-color: #e24a56fb;
          border: 1px solid #d82736fb;
          border-radius: 5px;
          padding: 6px;
          text-align: center;
          box-shadow: 0px 4px 5px rgba(216, 100, 100, 0.838);
}
.social .ic2{
          width: 140px;
          height: 60px;
          margin: 0px;
          position: absolute;
          left: 53%;
          background-color: #3838e8;
          border: 1px solid #481cd8;
          border-radius: 5px;
          padding: 6px;
          text-align: center;
          box-shadow: 0px 4px 5px rgba(72, 13, 210, 0.5);
          

} 
.social .ic2 a{
          text-decoration: none;
          font-size: 14pt;
          font-family: 'Times New Roman', Times, serif;
          padding: 10px;
          color: #f6f5f7;
}
.social .ic1 a{
          text-decoration: none;
          font-size: 14pt;
          font-family: 'Times New Roman', Times, serif;
          padding:18px;
          color: #f6f5f7;
}
.right .or{
          color: #607d8b;
          text-align: center;
          margin: 30% 0 0 0;
          font-weight: 500;
          display: block;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          position: relative;
}

.right .or span{
          display: inline-block;
          padding: 10px 30px;
          background-color: #fff;
          position: relative;
          z-index:2;
}
.right .or:after{
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background-color: #e5dbef;
          top: 50%;
          left:0;
          transform: translateY(-50%);
}
.social div a i{
          position: absolute;
          top: 16px;
          margin: 1px;
          left: 5px;
          justify-content: center;
}

div #btn{
          top: 10px;
          color: #f9fcfb;
          text-align: center;
          position: absolute;
          border: none;
          font-size: 14pt;  
          padding: 1px;        
          width: 90%;
          border-radius: 8px;
          height: 32px;
          left: 20px;
          background-color: #20b46f;
}
#er{
       position: relative;
       width: 30%;
       height: 20px;      
       margin-left: 30%;
       padding: 1px;
       display: block;
}
#er p{
       color: rgb(202, 18, 18);
       font-size: 10pt;
       font-family: 'Times New Roman', Times, serif;       
}