        li {
          display: inline;
        }
        span {
          display: block;
        }     
        a {
          display: block;
        }   
        h1.hidden {
          display: none;
        }
        h2.hidden {
          visibility: hidden;
        }