span.a {
          display: inline; 
          width: 100px;
          height: 100px;
          padding: 5px;
          
        }
        
        span.b {
          display: inline-block;
          width: 100px;
          height: 100px;
          padding: 5px;
        }
        
        span.c {
          display: block;
          width: 100px;
          height: 100px;
          padding: 5px;
          
        }