        div.fir {
          width: 500px;
          margin: auto;
          border: 3px solid #73AD21;
        }
        
        div.sec {
          max-width: 500px;
          margin: auto;
          border: 3px solid #73AD21;
        }